<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="hchb-nuget.org" value="https://pkgs.dev.azure.com/hchb/_packaging/nuget.org-mirror/nuget/v3/index.json" />
    <add key="hchb-internal" value="https://pkgs.dev.azure.com/hchb/_packaging/internal/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>